.task-enter {
  opacity: 0;
  transform: translateY(-20px);
}
.task-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition:
    opacity 0.3s,
    transform 0.3s;
}
.task-exit {
  opacity: 1;
  transform: translateY(0);
}
.task-exit-active {
  opacity: 0;
  transform: translateY(-20px);
  transition:
    opacity 0.3s,
    transform 0.3s;
}
